@model List<Product>

<h2 class="title">Product List</h2>

<table class="product-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>$@p.Price</td>
            <td>
                <a asp-action="GetById" asp-route-id="@p.Id" class="btn btn-info">View</a>
                <a asp-action="Update" asp-route-id="@p.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="bottom-links">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>